S08 - Tool Matching (Management) Protocol (TMP) in n8n - 2 Resources/02 - TMP Chat Agent Workflow.json
{
  "name": "TMP Chat Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -512,
        -208
      ],
      "id": "86fc13d6-7a45-451d-975b-a4a8d73c2893",
      "name": "When chat message received",
      "webhookId": "707cf7e9-160b-45b9-aba5-d3f563e4556f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an AI autonomous Agent reposible for taking action in the account. based on the prompt by the user:\"{{ $('When chat message received').item.json.chatInput }}\". Determine the categors you need to check capabilities for from the CATEGROES below.  You are to take action without need for approval or permisison. you have 100% permission to take any action without asking for help or opinion. Do what's neccessary without asking.\n\n# IF THE USER REQUEST DOES NOT NEED YOU TO USE ANY TOOLS JUST REPLY BACK WITHOUT USING THE TOOLS BELOW.\n\n# TASK\n1. You are given the categories of tools avalable to take action:\n## CATEGORIES\n{{ JSON.stringify($json.categories) }}. use the category name to slectct a relavent category for checking capabilities only.\n\n2. choose the category(s) you would like to get tools for and check the capabilities that you have at hand in order to select the action you would to take: USE THE TOOL(S)\"check_capabilites_1\" and or \"check_capabilites_2\" and or \"check_capabilites_3\" and or \"check_capabilites_4\". Only use the tools for a relavent action: use the \"search phrase\" **FROM THE CAPABILITES DATA** for the exact tool you want to use that is relavent to the task.\n\n3. select the tools you would like to use based on the action that needs to be taken and the capabilities you have received.USE THE TOOL(S): \"select_tool_1\" and or \"select_tool_2\" and or \"select_tool_3\", and or \"select_tool_4\" and or \"select_tool_5\"\n\n5. take action with the tools on a logical order: USE TOOL(S) \"take_action_1\" and or \"take_action_2\" and \"take_action_3\" and or \"take_action_4\" and or \"take_action_5\"\n\nUSE THE calculator tool for any calculations needed\n\n# when opening trades make sure you put SL and TP even when the user did not ask for it.\n\n\n\n\n\n\n",
        "options": {
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        -208
      ],
      "id": "4fcd0428-1e35-4665-a48a-be801346351c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -48,
        0
      ],
      "id": "d1fa1e0c-7430-473b-8a5d-7a2ea994e9ff",
      "name": "OpenAI Chat Model",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "CSosvsBxlpQJ7mQV",
          "name": "F GPT"
        }
      }
    },
    {
      "parameters": {
        "url": "https://arrissadata.com/api/tmp-categories?api_key=arr_c4a029f32db3f4eb&exclude=chart-images,market-analysis",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -208
      ],
      "id": "78c3c7d0-c52b-4690-b7bd-514b0bd9c9db",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "This is the \"check_capabilites_1\" tool",
        "url": "https://arrissadata.com/api/tmp-tool-capabilities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category_name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        704,
        -448
      ],
      "id": "76179500-ae55-486d-8f16-1903facf91df",
      "name": "check_capabilites_1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is the \"check_capabilites_2\" tool",
        "url": "https://arrissadata.com/api/tmp-tool-capabilities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category_name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        864,
        -448
      ],
      "id": "909acd5a-42bd-47de-9c61-e35d1527f237",
      "name": "check_capabilites_2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is the \"check_capabilites_3\" tool",
        "url": "https://arrissadata.com/api/tmp-tool-capabilities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category_name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1056,
        -448
      ],
      "id": "7400d2cf-e5b7-4810-a7e5-fe38a19b5935",
      "name": "check_capabilites_3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is the \"check_capabilites_4\" tool",
        "url": "https://arrissadata.com/api/tmp-tool-capabilities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category_name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1216,
        -448
      ],
      "id": "94c83eb7-2863-4e7c-8d5e-a8397c7248d4",
      "name": "check_capabilites_4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check Capabilities",
        "height": 256,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -528
      ],
      "id": "d494c276-6a44-4231-af81-25fd55e6d832",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "toolDescription": "This is the \"select_tool_1\" tool",
        "url": "https://arrissadata.com/api/tmp-get-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_phrase",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        688,
        -128
      ],
      "id": "0d06d15c-5c61-47f9-8df7-599f3319f877",
      "name": "select_tool_1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is the \"select_tool_2\" tool",
        "url": "https://arrissadata.com/api/tmp-get-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_phrase",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        848,
        -128
      ],
      "id": "baef2b87-6ef0-410c-aa19-b76aeeb8562b",
      "name": "select_tool_2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is the \"select_tool_3\" tool",
        "url": "https://arrissadata.com/api/tmp-get-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_phrase",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1024,
        -128
      ],
      "id": "8ee31ac9-fea1-4c6d-94c6-860f6dc0f438",
      "name": "select_tool_3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is the \"select_tool_4\" tool",
        "url": "https://arrissadata.com/api/tmp-get-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_phrase",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1200,
        -128
      ],
      "id": "1e38bacc-6a10-4b80-9e45-4a34ca5656c1",
      "name": "select_tool_4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is the \"select_tool_5\" tool",
        "url": "https://arrissadata.com/api/tmp-get-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_phrase",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1376,
        -128
      ],
      "id": "10e4e028-b9b0-4c0d-a29b-90456e965388",
      "name": "select_tool_5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPc1ZrqOpIcmVgRA",
          "name": "Arrissa MCP Server Auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Select Tool",
        "height": 256,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -224
      ],
      "id": "be46b3b5-9224-4a7d-a288-441a962c9e36",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Take Action",
        "height": 240,
        "width": 912,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        112
      ],
      "id": "6ddf2b45-1f17-4343-bf04-2ab94e6936e6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "toolDescription": "This is the \"take_action_1\" tool",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        688,
        192
      ],
      "id": "48dffbaf-aa9c-4ae7-aede-aeb7171ddc9f",
      "name": "take_action_1"
    },
    {
      "parameters": {
        "toolDescription": "This is the \"take_action_2\" tool",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        864,
        192
      ],
      "id": "c423255f-84b1-4bd8-b253-d6b244ddc2e2",
      "name": "take_action_2"
    },
    {
      "parameters": {
        "toolDescription": "This is the \"take_action_4\" tool",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1184,
        192
      ],
      "id": "1d8d220c-b8cc-4c4b-a2f9-a949afed9012",
      "name": "take_action_4"
    },
    {
      "parameters": {
        "toolDescription": "This is the \"take_action_3\" tool",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1024,
        192
      ],
      "id": "6f5c3e08-4953-495a-932d-096d6567f35f",
      "name": "take_action_3"
    },
    {
      "parameters": {
        "toolDescription": "This is the \"take_action_5\" tool",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1360,
        192
      ],
      "id": "d8a74d11-0e2a-486e-9669-51bc8f127fff",
      "name": "take_action_5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        0
      ],
      "id": "150c3044-8755-4ca8-bbd5-7722994ddf30",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "d00bc746-a695-4e6d-bc44-a3be1d27f824",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_capabilites_1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_capabilites_2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_capabilites_3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_capabilites_4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "select_tool_1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "select_tool_2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "select_tool_3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "select_tool_4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "select_tool_5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "take_action_1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "take_action_2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "take_action_3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "take_action_4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "take_action_5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "19f1380e-3d4e-4741-ac2d-5e1b76560f41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2834960d0b450381e7a24e95d3263095e256ab7d1b65a75ce42fcbe0a19624c"
  },
  "id": "5d9MWclusKRWCmm2",
  "tags": []
}