S07 - Building a Fully Autonomous AI Trading Agent for MT5 in n8n - 1 Resource/01 - AI Fully Atounomous Agent.json
{
  "name": "AI Atounomous Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an AUTONOMOUS AI trader using Scalping Method/Strtegy. Your role is to be a smart trader for Mr Richchild. You have been given 100% authosrization to poerform and actions necessary on behalf of Mr Richchild. Perform these actions without asking for any approval. Do as you think is neccessary without asking for permission or approval. You have been approved to perform any action!\n\n# TASK\nYou are given: \n1. The current status of the charts through 100 Candles of H1 timframe, 100 Candles of M15 timeframe, 100 Candles of the M5 timeframe and 100 Candles of the 1M timeframe.\n\n## The data you are given is:\n{{ JSON.stringify($json.market_pre_data) }}\n\n2. You can view the status of the runing orders through this link\na) Get all running positions: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&filter_running=true\n\nb) Get all Pending order only: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&filter_pending=true\n\nc) Tool to view todays profit\nhttps://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&profit=today\nOur target for the day is a profit of $100. Once you make this you may stop trading.\n\n3. You are also given tools to operate Mr Richchild's trading account through HTTP requests. You are to take any neccessary steps to ensure that Mr Richchild makes profit through trading. \n\n## The tools at your disposal are:\n1. Opening a trade:\na) If you choose toopen a market order: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action={direction}&symbol=BTCUSD&volume={volume}&sl={stop_loss}&tp={take_profit} \n* Direction can be: BUY / SELL  \n\nb) If you you choose to open a pending order:\nhttps://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action={order_type}&symbol=BTCUSD&volume={volume}&price={order_price}&sl={stop_loss}&tp={take_profit}\n* order_type can be BUY_STOP / SELL_STOP / SELL_LIMIT / BUY_LIMIT\n\n* Volume should be anything btween 0.01 and 0.1 Depnding on andy risk or reward reasons\n\n2. Closing a trade:\na) Closing a specific trade: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=CLOSE&ticket={ticket}\n\nb) Closing all trades: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=CLOSE_ALL\n\nc) Close loss trades: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=CLOSE_LOSS&symbol=ALL\n\nd) Close all profitable trades: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=CLOSE_PROFIT&symbol=ALL\n\n3. Trade management:\na) Break Even All Trades: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=BREAK_EVEN_ALL&symbol=ALL\n\nb) Break Even for specific Position: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=BREAK_EVEN&ticket={ticket}\n\nc) Modift SL: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=MODIFY_SL&ticket={ticket}&new_value={stop_loss}\n\nd) Modify TP: https://arrissadata.com/orders-api-v1/orders-api.php?api_key=fAvjpL0WAJTfzeE1a&action=MODIFY_TP&ticket={ticket}&new_value={take_profit}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        -112
      ],
      "id": "27543932-0c98-431f-89f7-cc031238370a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        96
      ],
      "id": "7332abf3-66f8-4008-9a5c-8d010b89a88b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BRVq9sgzRPDal0FH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.market_pre_data[0].vestor_data.symbol }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        96
      ],
      "id": "1bb3a171-a6ea-4fd6-b00d-52813f7cf4e7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "=https://arrissadata.com/market-data-api-v1/market-data-api.php?api_key=fAvjpL0WAJTfzeE1a&symbol=BTCUSD&timeframe=H1&count=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -352
      ],
      "id": "1c645fec-bfee-404a-90a2-1280fc41c3ba",
      "name": "H1 Candles"
    },
    {
      "parameters": {
        "url": "=https://arrissadata.com/market-data-api-v1/market-data-api.php?api_key=fAvjpL0WAJTfzeE1a&symbol=BTCUSD&timeframe=M15&count=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -176
      ],
      "id": "a9a406d3-f6ad-47ca-88a5-3ca15adab52c",
      "name": "M15 Candles"
    },
    {
      "parameters": {
        "url": "=https://arrissadata.com/market-data-api-v1/market-data-api.php?api_key=fAvjpL0WAJTfzeE1a&symbol=BTCUSD&timeframe=M5&count=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        0
      ],
      "id": "4901dbea-7d7e-4a4b-8840-fd023c0add4a",
      "name": "M5 Candles"
    },
    {
      "parameters": {
        "url": "=https://arrissadata.com/market-data-api-v1/market-data-api.php?api_key=fAvjpL0WAJTfzeE1a&symbol=BTCUSD&timeframe=M1&count=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        176
      ],
      "id": "3b6621a2-95c9-4b66-82b4-0357240fb4ad",
      "name": "M1 Candles"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        -144
      ],
      "id": "fe866d90-7292-4613-8646-9ffe4ebcb341",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "market_pre_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        -112
      ],
      "id": "b37f2a2b-400d-49ec-b773-5868d3d7e22c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to take action on the trading account",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        384,
        96
      ],
      "id": "e7e14a89-dbe4-4252-90ca-9ab17c86b698",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        -144
      ],
      "id": "6ecde018-82dd-4d39-bf07-fc0e595a9c02",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "-1003038666576",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -112
      ],
      "id": "5b8f0adb-c330-4f3d-8945-5abecadda6f2",
      "name": "Send a text message",
      "webhookId": "6f6d9c3e-c807-4fe2-8dd3-180f86b9d535",
      "credentials": {
        "telegramApi": {
          "id": "bVHttufDUUH1HnS6",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "H1 Candles": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "M15 Candles": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "M5 Candles": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "M1 Candles": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "H1 Candles",
            "type": "main",
            "index": 0
          },
          {
            "node": "M15 Candles",
            "type": "main",
            "index": 0
          },
          {
            "node": "M5 Candles",
            "type": "main",
            "index": 0
          },
          {
            "node": "M1 Candles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f97587b-9046-467f-b9a1-72321c08f78c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22b98916a2ddd81bc619e21c147469ee64dbee5b2f52e6c692b2a846280ebdf2"
  },
  "id": "0A4EYkSPmm25n8mh",
  "tags": []
}